.modal {
    .modal-image {
        border: 0.5px solid #099700;
        width: 75px;
        height: 100px;
    }
    .name, .price {
        padding-left: 20px;
        font-weight: bold;
    }

    .name {
        color: #0460a2;
    }
    .title{
        color: #099700;
    }
}